*.class
*.log
.idea
.idea/*
*.iml
core/*.iml
.#*
.DS_Store
Makefile


reader/src/main/resources/ai/lum/labrador/reader/grammars/agriculture/entities/*.yml
reader/src/main/resources/ai/lum/labrador/reader/grammars/agriculture/events/*.yml
